source:
  text: "Source"
  url: "https://github.com/herrbischoff/awesome-macos-command-line/blob/master/README.md#show-time-machine-logs"
  title: "tmlog"
  indent: "  "
  label: "9411b15b"
"apple hardware test downloads":
  text: "Apple Hardware Test Downloads"
  url: "https://github.com/upekkha/AppleHardwareTest"
  title: "AHT"
  indent: "  "
  label: "599cb5b0"
"tautulli wiki":
  text: "Tautulli Wiki"
  url: "https://github.com/Tautulli/Tautulli-Wiki/wiki"
  title: "Tautulli Wiki"
  indent: "  "
  label: "fbc4173b"
"tautulli repo":
  text: "Tautulli Repo"
  url: "https://github.com/Tautulli/Tautulli"
  title: "Tautulli Repo"
  indent: "  "
  label: "9d3eaa7e"
"the movie database,":
  text: "The Movie Database,"
  url: "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwj3xpTO-cPfAhUJ04MKHR3lAM8QFjAAegQIAxAC&url=https%3A%2F%2Fwww.themoviedb.org%2Fen&usg=AOvVaw14rqfSbBzQFKOYt-GPRwZf"
  title: "TMDB"
  indent: "  "
  label: "0e63a4e3"
imdb:
  text: "IMDB"
  url: "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiHj-bg-cPfAhVs7oMKHVPBAtUQFjAAegQIARAC&url=https%3A%2F%2Fwww.imdb.com%2F&usg=AOvVaw0bfSGQSfl6hZdrs13lj3BU"
  title: "IMDB"
  indent: "  "
  label: "4d99696a"
"rotten tomatoes":
  text: "Rotten Tomatoes"
  url: "https://www.rottentomatoes.com"
  title: "RottenTomatoes"
  indent: "  "
  label: "c7989c64"
"running apple diagnostics":
  text: "Running Apple Diagnostics"
  url: "https://support.apple.com/en-us/HT202731"
  title: "Apple Diagnostics"
  indent: "  "
  label: "3c06ecee"
"how to use apple hardware test on your mac":
  text: "How to use Apple Hardware Test on your Mac"
  url: "https://support.apple.com/en-us/HT202731"
  title: "AHT"
  indent: "  "
  label: "6c478526"
silently:
  text: "silently"
  url: "https://support.apple.com/en-us/HT203538"
  title: "Support-Permissions"
  indent: "  "
  label: "8878a543"
"apple support":
  text: "Apple Support"
  url: "https://support.apple.com/en-us/HT201372"
  title: "Installer - Apple Support"
  indent: "  "
  label: "d8da3f22"
"high sierra":
  text: "High Sierra"
  url: "https://support.apple.com/en-us/HT208969"
  title: "High Sierra - Apple Support"
  indent: "  "
  label: "e1a494d0"
sierra:
  text: "Sierra"
  url: "https://support.apple.com/kb/HT208202"
  title: "Sierra - Apple Support"
  indent: "  "
  label: "f259d046"
"diagnosing & treating time machine problems in terminal":
  text: "Diagnosing & Treating Time Machine Problems in Terminal"
  url: "https://eclecticlight.co/2017/02/16/diagnosing-and-treating-time-machine-problems-in-terminal/"
  title: "tmutil diagnosing"
  indent: "  "
  label: "dcd4acba"
"atlassian documentation for wiki's on bitbucket":
  text: "Atlassian Documentation for Wiki's on BitBucket"
  url: "https://confluence.atlassian.com/bitbucket/wikis-221449748.html"
  title: "Wiki-Docs"
  indent: "  "
  label: "f6064868"
"setup an ssh key":
  text: "Setup an SSH Key"
  url: "https://confluence.atlassian.com/bitbucket/set-up-an-ssh-key-728138079.html"
  title: "SSH Key Setup"
  indent: "  "
  label: "45d99e2c"
"table of contents help":
  text: "Table of Contents Help"
  url: "https://python-markdown.github.io/extensions/toc/"
  title: "Markdown TOC"
  indent: "  "
  label: "7088d4f6"
"set up additional ssh keys":
  text: "Set Up Additional SSH Keys"
  url: "https://confluence.atlassian.com/bitbucket/set-up-additional-ssh-keys-271943168.html"
  title: "Addtl SSH Keys"
  indent: "  "
  label: "665e9494"
"bitbucket markdown syntax guide":
  text: "BitBucket Markdown Syntax Guide"
  url: "https://confluence.atlassian.com/bitbucketserver/markdown-syntax-guide-776639995.html"
  title: "BB Markdown Syntax"
  indent: "  "
  label: "1e0a316a"
"[troubleshooting ssh keys]":
  text: "[Troubleshooting SSH Keys]"
  url: "https://confluence.atlassian.com/bitbucket/troubleshoot-ssh-issues-271943403.html"
  title: "SSH Key Troubleshooting"
  indent: "  "
  label: "c5e7173f"
this:
  text: "this"
  url: "https://stackoverflow.com/a/43009080/708807"
  title: "Multiple Git Identities"
  indent: "  "
  label: "7f8663a1"
"github/scopatz":
  text: "github/scopatz"
  url: "https://github.com/scopatz/nanorc.git"
  title: "Nanorc files"
  indent: "  "
  label: "77c2a09e"
here:
  text: "here"
  url: "https://eclecticlight.co/mac-problem-solving/"
  title: "eclectic-light: mac-problem-solving"
  indent: "  "
  label: "340d41e5"
"ruby gem telegram-bot documentation":
  text: "Ruby gem telegram-bot documentation"
  url: "https://www.rubydoc.info/gems/telegram-bot/0.14.1"
  title: "Gem Docs"
  indent: "  "
  label: "244db886"
"12 useful customizations for the mojave macos login window that you didnt know about":
  text: "12 Useful Customizations for the mojave macos login window that you didnt know about"
  url: "https://twocanoes.com/12-customizations-for-the-mojave-macos-login-window-that-you-didnt-know-about/"
  title: "mojave-secrets"
  indent: "  "
  label: "b57900d7"
"eclectic light":
  text: "Eclectic Light"
  url: "https://eclecticlight.co/2018/12/11/lockrattler-4-18-should-now-highlight-new-updates/"
  title: "LockRattler 4.18"
  indent: "  "
  label: "b42f30f1"
homepage:
  text: "Homepage"
  url: "https://brew.sh"
  title: "Homewbrew - Homepage"
  indent: "  "
  label: "91296021"
documentation:
  text: "documentation"
  url: "https://docs.brew.sh/Homebrew-and-Python"
  title: "Brewdocs: Homebrew-and-Python"
  indent: "  "
  label: "1afae606"
"homebrew blog":
  text: "Homebrew Blog"
  url: "https://brew.sh/blog/"
  title: "Homebrew - Blog"
  indent: "  "
  label: "d2b76117"
"homebrew/homebrew-cask docs":
  text: "Homebrew/homebrew-cask docs"
  url: "https://github.com/Homebrew/homebrew-cask/tree/master/doc"
  title: "Cask Docs"
  indent: "  "
  label: "7f5c702b"
"homebrew/homebrew-bundle":
  text: "Homebrew/homebrew-bundle"
  url: "https://github.com/Homebrew/homebrew-bundle"
  title: "brew bundle"
  indent: "  "
  label: "7da956c9"
"homebrew/homebrew-services":
  text: "Homebrew/homebrew-services"
  url: "https://github.com/Homebrew/homebrew-services"
  title: "brew services"
  indent: "  "
  label: "5b4b73dd"
"homebrew - core":
  text: "Homebrew - Core"
  url: "https://github.com/Homebrew/homebrew-core"
  title: "Core on gh"
  indent: "  "
  label: "259ced4c"
"homebrew - cask-fonts":
  text: "Homebrew - Cask-Fonts"
  url: "https://github.com/Homebrew/homebrew-cask-fonts"
  title: "Cask-fonts-gh"
  indent: "  "
  label: "386881d7"
"(un)installer":
  text: "(un)installer"
  url: "https://github.com/Homebrew/install"
  title: "un/installer"
  indent: "  "
  label: "ce82956b"
"command not found":
  text: "Command Not Found"
  url: "https://github.com/Homebrew/homebrew-command-not-found"
  title: "CommandNotFound"
  indent: "  "
  label: "dfb397dd"
"firefox keyboard shortcuts":
  text: "Firefox Keyboard Shortcuts"
  url: "http://mzl.la/16NAhwz"
  title: "Firefox KBD SC"
  indent: "  "
  label: "b61ea5a1"
"zsh startup file examples":
  text: "ZSH Startup File Examples"
  url: "http://zsh.sourceforge.net/Contrib/startup/"
  title: "zsh-startup-ex"
  indent: "  "
  label: "28801851"
"course homepage":
  text: "Course Homepage"
  url: "https://learn.saylor.org/course/view.php?id=107"
  title: "prdv-251 homepage"
  indent: "  "
  label: "4745e560"
"authoring webpages":
  text: "Authoring Webpages"
  url: "Files/Section-01/Authoring-Webpages-Introduction_12.5.12.pdf"
  title: "Authoring Webpages PDF"
  indent: "  "
  label: "4ece38f8"
"authoring webpages wikibook":
  text: "Authoring Webpages Wikibook"
  url: "https://en.wikibooks.org/wiki/Authoring_Webpages"
  title: "Authoring Webpages Wikibook"
  indent: "  "
  label: "c0f5d5c0"
"http://www.python.org":
  text: "http://www.Python.org"
  url: "http://www.Python.org"
  title: "Python Home"
  indent: "  "
  label: "74fb5f4e"
ibooks:
  text: "iBooks"
  url: "https://itunes.apple.com/us/book/essential-python/id1063668429?mt=11"
  title: "essential python - iBooks"
  indent: "  "
  label: "a5a6c975"
"how to transfer backups from a current backup drive to a new backup drive":
  text: "How to transfer backups from a current backup drive to a new backup drive"
  url: "https://support.apple.com/en-us/HT202380"
  title: "Transferring Backups"
  indent: "  "
  label: "5808339c"
"swcarpentry.github.io":
  text: "swcarpentry.github.io"
  url: "https://swcarpentry.github.io/python-novice-inflammation/"
  title: "swcarpentry python tutorial"
  indent: "  "
  label: "1e2133d3"
"sticklerm3/alehouse":
  text: "sticklerm3/alehouse"
  url: "https://Sticklerm3@bitbucket.org/Sticklerm3/alehouse"
  title: "alehouse on bitbucket!"
  indent: "  "
  label: "7c06c1ef"
"font awesome":
  text: "Font Awesome"
  url: "https://fontawesome.com/"
  title: "Font Awesome!"
  indent: "  "
  label: "791477f6"
"eclectic light co.":
  text: "Eclectic Light Co."
  url: "https://eclecticlight.co"
  title: "Eclectic Light Co"
  indent: "  "
  label: "6f8d9867"
faq:
  text: "faq"
  url: "https://iterm2.com/faq.html"
  title: "iTerm2-faq"
  indent: "  "
  label: "039e8bc9"
