# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
# Ketboard wrapper for markdown
'.text.md':
  'Keyboard Input':
    'prefix': 'kbd'
    'body': '<kbd>$1</kbd>$0'

  # 'Command Key':
  #   'prefix': 'command'
  #   'body': '<kbd>Cmd</kbd>$0'
  # 'Option Key':
  #   'prefix': 'option'
  #   'body': '<kbd>Opt</kbd>$0'
  # 'Shift Key':
  #   'prefix': 'shift'
  #   'body': '<kbd>Shift</kbd>$0'
  # 'Function Key'
  #   'prefix': 'function'
  #   'body': '<kbd>Fn</kbd>$0'
  # 
  # 'Delete Key'
  #   'prefix': 'del'
  #   'body': '<kbd>Del</kbd>$0'
  # 
  #'.text.html.erb':
  #  'Keyboard Input':
  #    'prefix': 'swfont'
  #    'body': '/'font SW-Fonts/$1'/'
