# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
#   read the documentation on https://atom.io/packages/flex-tool-bar

[
  {
    type: 'button'
    tooltip: 'Sticklerm3 on Github'
    url: 'https://github.com/sticklerm3'
    icon: 'galactic-republic'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Toggle Fullscreen'
    callback: 'window:toggle-full-screen'
    icon: 'compress'
    iconset: 'fa'
  },
  {
    type: "button"
    tooltip: "Save File"
    callback: "core:save"
    icon: "save"
    iconset: "fa"
  },
  {
    type: 'button'
    tooltip: 'Toggle Sidebar'
    callback: 'tree-view:toggle'
    icon: 'chevron-circle-right'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'Toggle Minimap'
    dependency: 'minimap'
    callback: 'minimap:toggle'
    icon: 'map'
    iconset: 'fa'
  },
  {
    type: 'button'
    tooltip: 'List projects'
    dependency: 'project-manager'
    callback: 'project-manager:list-projects'
    icon: 'list-ul'
    iconset: 'fa'
  },
  {
    type: 'button'
    url: "https://bitbucket.org/"
    tooltip: 'Bitbucket'
    icon: "bitbucket"
    iconset: "fa"
  },
  {
    type: 'button'
    tooltip: 'Reload Window'
    callback: 'window:reload'
    icon: 'redo'
    iconset: 'fa'
  },
    # {
    #   type: "button"
    #   icon: "gear"
    #   callback: "flex-tool-bar:edit-config-file"
    #   tooltip: "Edit Tool Bar"
    # },
]
